{%extends 'base.html'%}

 {% block head %}
<title>Home</title>

    {% endblock %}
 {% block body %}

<main role="main"
    <div class="jumbotron mt-5">
          <div class="col-sm-8 mx-auto text-home">
            <h1>Adeeb Softech</h1>
           <p>Welcome to the Adeeb Softech Blog! Here you can read Blogs about everything</p>
              <p>To know more about us kindly visit our website which is still not published!!!<br>
                  So, for now, read only the blogs.</p><br>
              <p>
              <a class="btn btn-primary" href="/posts" role="button">Posts »</a>
            </p>
          </div>
        </div>
</main>
<div>
</div>
    {% endblock %}
