{%extends 'base.html'%}

 {% block head %}
<title>Edit</title>

    {% endblock %}
 {% block body %}

<h1 class="post-head">Create Post</h1>

<hr>
<h2 class="post-head">New Blog Post:</h2>
<form action='/posts' method='POST' class="form">
     <label for="title">Title:</label>
    <input class="form-control" type="text" placeholder="Title" aria-label="Title" name='title' id='title'>
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" name='content' id='content' placeholder="Content" aria-label="Content" rows="5"></textarea>

    <br>
    <input class="btn btn-success" type="submit" value="Post">
</form>
<hr>


    {% endblock %}
